.App {
	text-align: center;
}

.app_form {
	padding: 2% 2% 2% 4% !important;
	position: fixed;
	bottom: 0;
	z-index: 1;
	background-color: #66bfbf;
	width: 94%;
}
.app_formControl {
	display: flex !important;
	flex-direction: row !important;
}
.app_input {
	flex: 1;
}
.app_iconButton {
	flex: 0;
}
.row {
	position: fixed;
	z-index: 1;
	padding: 2% 5% 2% 12%;
	display: flex;
	flex-wrap: wrap;
	background-color: #66bfbf;
	width: 100%;
}
.row img {
	height: 60%;
	width: 60%;
	margin-top: 15%;
}
